.align-li {
    text-align: center !important;
}

/* .para-edit {
    background-color: rgb(31, 30, 30);
} */

.para-edit h5 {
    display: inline;
    margin-left: 10px;
    font-size: 15px !important;
    font-weight: bold;
}

.warn-icon {
    margin-top: -3px;
    font-size: 20px !important;
}

.ticket-ico {
    font-size: 35px !important;
}

.chk-bx {
    position: absolute;
    opacity: 1 !important;
    margin-top: -2px !important;
    width: 14px !important;

}

.chk-bx:focus {
    background-color: black !important;
    color: white !important;

}

.ticket-area .chk-bx:checked {
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0) !important;

}

.tax {
    display: inline !important;
    font-size: 13px;
    margin-left: 20px !important;
    font-weight: lighter;
}

.percent-sign {
    margin-left: -46px !important;
    margin-top: 15px !important;
}

.tee-sign {
    font-size: 12px !important;
    display: inline;
    position: absolute;
    font-weight: bold;
    margin-top: -8px;
    padding: 0 3px;
    margin-left: 10px;
    background-color: #0f0d17;
    margin-left: 10px !important;
    font-size: 17px !important;
    margin-top: 13px !important;
}



.input-per {
    border: 1px solid white !important;
    border-radius: 13px !important;
    font-size: 13px !important;
    padding: 8px 10px !important;
}

.input-per-ti {
    border: 1px solid white !important;
    border-radius: 13px !important;
    font-size: 13px !important;
    padding: 8px 30px !important;
}

.title-rev {
    font-size: 15px;
    word-spacing: 0.2rem !important;
}

.subtitle-rev {
    font-weight: lighter;
    font-size: 12px;
    word-spacing: 0.2rem !important;
    margin-left: 30px;
    /* text-align: right; */
    margin-top: 4px;
    padding-left: 10px;


}

.active-light-mode .input-per {
    border: 1px solid rgb(0, 0, 0) !important;
}

.active-light-mode .input-per-ti {
    border: 1px solid rgb(0, 0, 0) !important;
}

.review-in {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    flex-direction: row;

}

.review-details {
    margin-top: 20px;
    /* width: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.review-table {
    border: none !important;
    margin-top: 20px;
    outline: none;
}

.review-table td,
.review-table tr,
.review-table th {
    border: none !important;
    outline: none;
}



.ticket-area {
    display: flex;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.ticket-area div {
    display: block !important;
}

.para-edit ol li {
    margin-bottom: 2px !important;
    margin-top: 2px !important;
    padding-bottom: 0px !important;
}

.tags-input {
    margin-top: 20px;
}

.tags-input h5 {
    font-weight: bold;
    display: inline;
    margin-left: 10px;
}

.grid-icon {
    margin-top: -7px;
    font-size: 25px !important;
}

.grid-icon {
    margin-top: -7px;
    font-size: 25px !important;
}

.grid-icon-ti {
    margin-top: -5px;
    font-size: 22px !important;
}

.grid-icon-ri {
    margin-top: -5px;
    margin-left: -8px;
    font-size: 20px !important;
}

.top-basic .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    border-color: white !important;
    color: white !important;
    outline: white !important;
    width: 100%;
    padding: 10px 15px !important;
    border-radius: 15px;
    width: 493px !important;
}

.active-light-mode .top-basic .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    border-color: rgb(0, 0, 0) !important;
    color: rgb(0, 0, 0) !important;
    outline: rgb(0, 0, 0) !important;

}

.top-basic .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border: 1px solid white !important;
    border-radius: 15px !important;
    padding: 0 11px !important;
}

.active-light-mode .top-basic .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border: 1px solid rgb(0, 0, 0) !important;

}

.top-basic .css-1z7n62 span {
    color: white !important;
}

.active-light-mode .top-basic .css-1z7n62 span {
    color: rgb(0, 0, 0) !important;
}

.top-basic {
    margin-top: 30px;
}

.Input__Label {
    color: white !important;
    font-size: 12px !important;
}

.active-light-mode .Input__Label {
    color: rgb(0, 0, 0) !important;
}



.date-pick p {
    font-size: 12px !important;
    display: inline;
    position: absolute;
    margin-top: -10px;
    padding: 0 3px;
    margin-left: 10px;
    background-color: #0f0d17;
}

.active-light-mode .date-pick p {
    color: black;
    background-color: rgb(169 169 179);
}

.active-light-mode .date-pick span {
    color: black;
    background-color: rgb(169 169 179);
}

.date-pick input {
    width: 250px;
    margin-right: 20px;
    border-radius: 15px;
    height: 50px;
    color: white !important;
    border-color: white;
}

.active-light-mode .date-pick input {

    color: rgb(0, 0, 0) !important;
    border-color: rgb(0, 0, 0);
}



.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    padding-left: 20px;
    padding-top: 4px;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400 !important;
    font-size: 1rem !important;
    background-color: #0f0d17;
    line-height: 1.4375em !important;
    letter-spacing: 0.00938em !important;
    padding: 0 10px !important;
    position: relative !important;
    display: block !important;
    transform-origin: top left !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    max-width: calc(133% - 30px) !important;
    position: absolute !important;
    left: 0 !important;
    top: -23px !important;

}

.active-light-mode .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {

    background-color: rgb(169 169 179);


}

.top-basic h6 {
    display: inline;
    position: absolute;
    margin-left: 16px;
    margin-top: 12px;
}

.date-pick {
    margin-top: 25px;

}

.date-input {
    display: inline !important;
}

.phy-btns {
    margin-top: 20px;
}

.header-ticket {
    display: flex;
    justify-content: space-between;
}

.cancel-btn {
    padding: 9px 10px;
    width: 120px;
    cursor: pointer;
    /* margin-left: 50px; */
    margin-top: -10px;
    border-color: white;
    border-radius: 16px;
    font-size: 12px;
}

.phy-btns button {
    padding: 9px 10px;
    width: 130px;
    cursor: pointer;
    border-color: white !important;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 16px;
    font-size: 12px;
}

.hidden-ticket {
    display: none;
}

.show-ticket {
    display: block !important;
}

.bg-pic button {
    margin-top: 20px;
    width: 200px !important;
}

.main-cancel {
    display: flex;
    justify-content: right;
    text-align: right !important;
}

.radio-check {
    margin-top: 20px;
}


.radio-check p {
    display: inline;
    font-size: 15px;
    margin-left: 30px !important;
}

.li-sy {

    margin-left: 5px !important;
}



.align-btn {
    text-align: right;

    display: flex;
    justify-content: right;
}

.radio-check input {
    opacity: 1 !important;
    position: absolute;
    margin-top: -7px !important;
    width: 14px;
}

.phy-btns button:focus {
    color: white;
    border-color: white !important;
}

.phy-btns button:active {
    color: white;
}

.phy-btns button:hover {
    color: black;
    background-color: white;

}

.cancel-btn button:focus {
    color: white;
}

.cancel-btn button:active {
    color: white;
}

.cancel-btn button:hover {
    color: black;
    background-color: white;

}

.active-light-mode .phy-btns button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);

}

.active-light-mode .phy-btns button {

    color: black;
    border-color: rgb(0, 0, 0);


}

.active-light-mode .cancel-btn button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);

}

.active-light-mode .cancel-btn button {

    color: black;
    border-color: rgb(0, 0, 0);


}

.tab-pad {
    padding-top: 10px !important;
}

.location-ico {
    position: absolute;
    font-size: 18px !important;
    margin-top: -0px;
    margin-left: 4px;
}



.upload-btn {
    margin-top: -5px !important;
    color: white !important;
    background-color: transparent !important;
    margin-left: 15px !important;
    margin-right: 10px !important;
    border-radius: 20px !important;
    border: 1px solid rgb(255, 255, 255) !important;
}

.upload-btn-tr {
    margin-top: -5px !important;
    color: white !important;
    background-color: transparent !important;

    border-radius: 8px !important;
    border: 1px solid rgb(255, 255, 255) !important;
}

.eve {
    margin: 0;
    padding: 0;
    padding-bottom: 10px !important;
}

.active-light-mode .upload-btn {
    color: rgb(0, 0, 0) !important;

    border: 1px solid rgb(0, 0, 0) !important;
}

.active-light-mode .upload-btn-tr {
    color: rgb(0, 0, 0) !important;

    border: 1px solid rgb(0, 0, 0) !important;
}


.date-pick textarea {
    outline: white !important;
    border: 1px solid white !important;
    border-radius: 16px;
    color: white !important;
}

.date-pick textarea:focus {
    border-radius: 16px;
    border: 1px solid white !important;

}

.active-light-mode .date-pick textarea:focus {
    border: 1px solid rgb(0, 0, 0) !important;

}

.active-light-mode .date-pick textarea {
    border-color: rgb(0, 0, 0) !important;
    color: rgb(0, 0, 0);
}



.tags-input p {
    font-size: 12px !important;
    display: inline;
}

.tags-input p {
    display: inline;
    margin-left: 10px;
    font-size: 13px;
}

.last-o {
    margin-left: 20px;
}

.active-light-mode .upload-btn {
    color: rgb(0, 0, 0) !important;

    border: 1px solid rgb(0, 0, 0) !important;
}

.active-light-mode .upload-btn-tr {
    color: rgb(0, 0, 0) !important;

    border: 1px solid rgb(0, 0, 0) !important;
}

.hidden-ticket {
    border-radius: 8px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.main-eve {
    margin-top: 15px;
}

.detail-bx {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 80%;
    display: flex;
    margin-top: 30px;
    border-radius: 15px;
    justify-content: center;
    height: 300px;
}

.tickt {
    font-size: 15px !important;
    font-weight: lighter !important;
    margin-top: -5px !important;
}

.inner-bx {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media (max-width:1200px) {
    .date-pick input {
        width: 202px;

    }

    .top-basic .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {

        width: 403px !important;
    }
}

@media (max-width:500px) {
    .top-basic .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {

        width: 303px !important;
    }

    .date-pick input {
        width: 152px;

    }
}

@media (max-width:460px) {
    .phy-btns button {
        width: 120px;
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .cancel-btn button {
        width: 120px;
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media (max-width:400px) {
    .date-pick input {
        width: 303px;
        display: block;
        margin-bottom: 20px;
    }

    .top-basic .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {

        width: 253px !important;
    }
}